<div class="toolbox-container legend-container">
  <button
    class="button palettes-list-button create-legend-button piskel-icon-plus" data-action="add"
    title="Create a map legend" rel="tooltip" data-placement="top" ></button>
  <h3 class="toolbox-title palettes-title">
      Legend
  </h3>
  <!-- <div class="toolbox-buttons">
    <button
      class="button palettes-list-button edit-palette-button  piskel-icon-pencil" data-action="edit"
      title="Edit this palette" rel="tooltip" data-placement="top"></button>
  </div> -->

</div>
