#dialog-container.map-label-text {
  width: 500px;
  height: 300px;
  top : 30%;
  left : 50%;
  position : absolute;
  margin-left: -250px;
}

.map-label-text-dialog-wrapper {
  display: flex;
  flex-direction: column;
}

.map-label-text-dialog-head {
  flex: 0 0 auto;
  background-color: #ffd700;

}

.map-label-text-editable-container {
  flex: 1 0 auto;
  /* height: 100vh;
  width: 100vh; */
  /* height: 100%;
  width: 100%; */
  font-size: 20px;
}

.map-labels-container {
  flex: 1 0 auto;
}

.map-label-full-container {
  margin: 10px;
}

.map-label-top-container {
  display: flex;
}

.map-label-text-location-info {
  flex: 1 0 auto;
  display: flex;
  justify-content: space-between;
}

.map-label-event-actions {
  flex: 0 0 30px;
  padding: 10px;
  background-color: #ffd700;
}

.map-label-text-dialog-help-color {
  color: #FF3333;
}
