#dialog-container.map-label-text {
  width: 500px;
  height: 600px;
  top : 50%;
  left : 50%;
  position : absolute;
  margin-left: -250px;
}

.show #dialog-container.map-label-text {
  margin-top: -300px;
}

.create-map-label-wrapper {
  display: flex;
  flex-direction: column;
}

.legend-location-anchor-container {
  display: flex;
  align-items: center;
}

.legend-anchor-container {
  margin: 10px;
}

.create-map-label-section {
  height: 65px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.create-map-label-second-section {
  margin: 10px;
  display: flex;
}

.create-map-label-remove-label {
  margin-left: 50px;
}
/* .map-label-frame-select-container {
  display: none;
} */

.map-label-frame-input {
  width: 35px;
}

.label-all-show-frames:checked ~ .map-label-frame-select-container {
  display: none;
}

.create-map-label-name-input {
  margin: 10px;
}

.map-label-text-location-info {
  flex: 1 0 225px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.map-label-frame-form {
  margin: 10px;
}

.map-label-event-actions {
  flex: 0 0 30px;
  padding: 10px;
  background-color: #ffd700;
}

.map-label-text-dialog-help-color {
  color: #FF3333;
}
